#table1 {
  border-collapse: collapse;
  margin:auto;
}


.th1 td, .th1 th{
  border: 1px solid black;
}
.details {
  width: 100%;
}
#container p { 
  display: inline 
  
}

.googletran { 
font-size: 30px; 
text-align:center; 
color:red; 
font-family: Impact;
  
}

@keyframes jo{
  0% {color:purple;} 
  25% {color:yellow;} 
  50% {color:blue;} 
  75% {color:green;} 
  100% {color:purple}
  
}
.invis{ 
  display: inline-block; 
  color:grey;
  text-decoration: none; 
  
}
.invis:hover{ 
  animation-name: jo;
  color:red; 
  animation-duration:4s; 
  animation-iteration-count: 10; 
}

.title{
  text-align: center;
  
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.body{ 
  background-color: grey;
  
}

section { 
  display: block;
  
}

#center{
  text-align: center;
   margin:0;
   
  
}

.centralbox{
  position:relative;
  width:500px;
  height:300px;
  max-width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png");
  background-size:150px 150px  ;
  background-repeat: no-repeat;
  background-position:center;
  
}
.box1{
  position: absolute;
  width: 50px;
  height: 18px;
  margin-right: 0;
  margin-top:10%;
 /* right:55%;*/
  margin-left: 25%;
  text-align: center;
  
  
}
.box2{
  position: absolute;
  width:50px;
  height:18px;
  margin-left: 65%;
  margin-top:10%;
  /*left:55%;*/
  margin-right: 0;
  text-align: center;
  
  
}
.box3{
  position: absolute;
  width: 50px;
  height: 18px;
  margin-left: 20%;
  margin-top:17%;

  margin-right:0;
  text-align: center;
  }
  .boxstyle{
    text-decoration: none;
  }
  .search{
    position:absolute;
    margin-left: 35%;
    margin-top:50%;
  }
  
#wiki {
 display:block;
 top:50%;
}
.bodytext, .bodytext li{
  text-align:center;
}
.bodytext ul{
 list-style-type: none;
 margin:0;
 padding:0;
}